
@model Reviews.Models.Review

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1>Details for @Model.Title</h1>
    <img src="@Model.ImageURL" />
    <h2>@Model.ReviewCategory</h2>
    <p>@Model.Content</p>

