@model IEnumerable<Reviews.Models.Review>
@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Home Page</h1>
    @foreach (var review in Model)
    {
        <div>
            <a href="/Home/Details/@review.Id">
                @review.Title
            </a>
        </div>
    }
