@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/CSS/Main.css" rel="stylesheet" />

</head>


<body>
    <header><div>Header</div></header>
    <nav>
        <a href="/Category/Index">All Categories</a>
        <a href="/Review/Index">All Reviews</a>
        <a href="">TBD</a>
    </nav>
    @RenderBody()
    <footer><div>Footer</div></footer>
    @RenderSection("Scripts", required: false)
</body>
</html>

