@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/CSS/Main.css" rel="stylesheet" />
</head>


<body>
    <header><div>Header</div></header>
    <nav>
        <a href="/Home/Categories">Home</a>
        <a href="/Home/Index">Representation</a>
        <a href="">Something</a>
    </nav>
    @RenderBody()
    <footer><div>Footer</div></footer>
</body>
</html>

