
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/CSS/Main.css" rel="stylesheet" />
</head>
<body>
    <header>Header</header>
    @RenderBody()
    <footer>Footer</footer>
</body>
</html>
